{% load sekizai_tags i18n wiki_tags %}{% load url from future %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/static/wiki/bootstrap/css/wiki-bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/static/wiki/bootstrap/css/simple-sidebar.css" type="text/css" rel="stylesheet"/>
    <title> Profile - Technology βιβλιοθήκη </title>
    {% render_block "css" %}
  </head>

  <body>
    
  {% block wiki_navbar %}
  <div>
     <!-- <div class="container"> -->
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/"> Technology βιβλιοθήκη </a>
                </li>
              
                <li>
                    <a href="/_create/">Create article</a>
                </li>
                <li>
                    <form class="navbar-form pull-right-block-on-responsive" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="Search...." />
              <!--<span class="input-group-btn">
               <button class="btn btn-default" type="button">
                
                </button>
              </span>-->
            </div><!-- /input-group -->
          </form>
                </li>
                <li>----------------------
                </li>
                <li>
            
                </li>
                <li>----------------------</li>
                <li></li>
                
                <li>
                    <a href="#">About</a>
                </li>
                
                
                <li style='margin-top:50%;'>
              
                </li>
          
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}


{% block wiki_contents %}
<div class="container">
 
    {% for p in profiles %}
         {{p}}
        {% endfor %} 
       
       

</div>
{% endblock %}

</body>
</html>
