{% load sekizai_tags i18n wiki_tags %}{% load url from future %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/static/wiki/bootstrap/css/wiki-bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/static/wiki/bootstrap/css/simple-sidebar.css" type="text/css" rel="stylesheet"/>
    <title> Profile - Technology βιβλιοθήκη </title>
    {% render_block "css" %}
  </head>

  <body>
    
  {% block wiki_navbar %}
  <div>
     <!-- <div class="container"> -->
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/"> Technology βιβλιοθήκη </a>
                </li>
              
                <li>
                    <a href="/_create/">Create article</a>
                </li>
                <li>
                    <form class="navbar-form pull-right-block-on-responsive" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="Search...." />
              <!--<span class="input-group-btn">
               <button class="btn btn-default" type="button">
                
                </button>
              </span>-->
            </div><!-- /input-group -->
          </form>
                </li>
                <li>----------------------
                </li>
                <li>
                
                {% if user.is_authenticated %}
                 {{ user.last_name }} {% account_balance %}
                {% else %}
                   <a href="http://52.11.183.14/simple/login/fb"><img style="height:30px;" src="http://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg"> Facebook</a>
                {% endif %}
                </li>
                <li>----------------------</li>
                <li></li>
                {% if user.is_authenticated %}
                 <li>
                    <a href="{% url 'wiki:logout' %}">
                      <i class="icon-off"></i>
                      {% trans "Log out" %}
                    </a>
                  </li>
                {% endif %}
                <li></li>
                
                <li>
                    <a href="#">Profile</a>
                </li>
                
                
                <li style='margin-top:50%;'>
              
                </li>
          
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}


{% block wiki_contents %}
<div class="container">
 <h2> List of bought article: </h2>
    {% for p in profiles %}
          <br>
         <a href={{p}}>{{p}}</a>
        {% endfor %} 
       
       
{% if user.is_authenticated %}
<h2> Payment delivery: </h2>
<form action="http://52.11.183.14/payment/" method="post" >
           <label for="paid">Ask for payment: from 0 to {% account_balance %}:</label>
<input name="name" id="name" type="hidden" value={{revision.user.id}} />
<input name='paid' type='number' />
<input type="submit" value="Submit" class="btn btn-default btn-lg">
</form>

{% endif %}
</div>
{% endblock %}

</body>
</html>
